<h1>Edit Action Figure</h1>
<form action="/figures/<%= figure.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= figure.name %> " />
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" name="year" value="<%= figure.year %> " />
        <label for="condition">Condition</label>
        <input type="text" class="form-control" id="condition" name="condition" value="<%= figure.condition %> " />
        <label for="toyLine">Toy Line</label>
        <input type="text" class="form-control" id="toyLine" name="toyLine" value="<%= figure.toyLine %> " />

        <label for="hasPackaging">Has Packaging?</label>
        <input type="checkbox" name="hasPackaging" id="hasPackaging" <% if
        (figure.hasPackaging === true) { %> checked <% } %> />
        <br />
        <label for="doHave">Do I have it?</label>
        <input type="checkbox" name="doHave" id="doHave" <% if
        (figure.doHave === true) { %> checked <% } %> />
        <br />
        <input type="submit" value="Edit Action Figure" />
    </div>
  </form>