<h1>Action Figure Detail</h1>
<p>
  Name: <%= figure.name %> <br />
  Year:<%= figure.year %> <br />
  Toy Line:<%= figure.toyLine %> <br />
  Condition:<%= figure.condition %> <br />
  Has packaging?: 
  <% if
  (figure.hasPackaging === true) { %> True <% } else { %> False <% } %>
  <br />
  In my collection: <%= figure.doHave %> 
  <% if
  (figure.doHave === true) { %> True <% } else { %> False <% } %>
  <br />
<form action="/figures/<%= figure.id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>