<span>
    <div>
        <h2><%= figure.name %> </h2>
        <table id="actionFigures">
            <tr>
                <th>Name</th>
                <th>Toy Line</th>
                <th>Year</th>
                <th>In Collection?</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td> <%= figure.name %></td>
                <td><%= figure.toyLine %></td>
                <td><%= figure.year %></td>
                <td><%= figure.doHave %></td>
                <td><a type="button" class="btn btn-primary btn-sm" href="/figures/<%= figure.id %>/edit">Edit</a></td>
                <td>
                    <form action="/figures/<%= figure.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Delete <%= figure.name %></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h2><%= figure.name %>'s Accessories</h1>
            <table id="actionFigures">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>In Collection?</th>
                    <th></th>
                    <th></th>
                </tr>
                <% figure.accessories.forEach(accessory => { %>
                <tr>
                    <td>
                        <% if (accessory.image[0].src !== undefined) { %>
                        <li>
                            <center><img src="../..<%= accessory.image[0].src %>" width="100px" height="100px"></center>
                        </li>
                        <% } %>
                    </td>
                    <td><%= accessory.accessoryName %></td>
                    <td><%= accessory.doHave %></td>
                    <td><a type="button" class="btn btn-primary btn-sm"
                            href="/figures/<%= figure.id %>/accessories/<%= accessory.id %>/edit">Edit</a></td>
                    <td>
                        <form action="/figures/<%= figure.id %>/accessories/<%= accessory.id %>?_method=DELETE"
                            method="POST">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>
    </div>
</span>
<span>
    <div>
        <ul>
            <% if(figure.image.length > 0) { %>
            <% figure.image.forEach((image)=> { %>
            <%   if (image.imgType === "main") {  %>
            <li>
                <center><img src="../..<%= image.src %>" height="300px"></center>
            </li>
            <% } %>
            <% }); %>
            <% } %>
        </ul>
    </div>
    <div>
        <h2>Add Accessory</h2>
        <form action="/figures/<%= figure.id %>/accessories" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="accessoryName">Accessory Name</label>
                <input type="text" class="form-control" id="accessoryName" name="accessoryName" />
            </div>
            <div class="form-check">
                <label for="doHave">Do I have it?</label>
                <input type="checkbox" name="doHave" id="doHave" /><br />
            </div>
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image" value="">
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</span>